<a  class="btn btn-danger" href="#profile" data-toggle="tab" n="1"  >Nueva Marca</a>
<div class="col-10">
  <div class="container mt-4">
<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Marcas</a>
</li>
<li class="nav-item">
<a  class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nueva Marca</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Editar Marca</a>
</li>
</ul>

<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!-- Aqui empieza la pestaña -->
  <h1>Marcas</h1>
  <!-- Aqui termina la pestaña -->
</div>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<!-- Aqui empieza la pestaña -->
  <h1>Nueva Marca</h1>
  <!-- Aqui termina la pestaña -->
</div>
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <!-- Aqui empieza la pestaña -->
  <h1>Editar Marca</h1>
  <!-- Aqui termina la pestaña -->
</div>
</div>

  </div>
</div>