<h2>Categorias</h2>
<hr>
<div class="mt-2">
    <h1>Nueva categoria</h1>
    <hr>
    <form [formGroup]="create_category_form" (ngSubmit)="addCategory()">
        <div class="row">
            <div class="col-3">
                <label for="nombre">Nombre</label>
            </div>
            <div class="col-9">
                    <input
                    formControlName="categoria"
                    name="categoria" type="text"
                    class="form-control" required 
                    [(ngModel)]="CategoriaNuevo"
                    />

            </div>
        </div>
        <hr>
        <div class="text-right mt2">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="create_category_form.invalid">
                Crear
            </button>
        </div>
    </form>
</div>
<div class="row">
        <div class="col-sm-4">
<h1>Listado</h1>
              </div>

        <div class="col-sm-4">
                <div class="alert alert-success alert-dismissable" *ngIf="msg">
                  <a href="#" class="close" (click)="closeAlert()">
                    &times;
                  </a>
                  {{msg}}
                </div>
              </div>
</div>


<hr>
<div class="row">
<div class="col-8">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <!-- HTML table for displaying a product details -->
                <table class="table table-hover table-bordered">
                        <tr>
                                <th>Nombre</th>
                                <th>Activo</th>
                                <th>Actions</th>
                        </tr>
                        <tr *ngFor="let categoria of employees">
                                <td>{{categoria.categoria}}</td>
                                <td>{{categoria.activo}}</td>
                                <td class="text-center">
                    
                                    <!-- edit product button -->
                                    <a (click)="editCategory(categoria.id_categoria, categoria.categoria)" class="btn btn-info text-white">
                                        Editar
                                    </a>
                    
                                    <!-- delete product button -->
                                    <a (click)="deleteCategory(categoria.id_categoria)" class="btn btn-danger text-white }">
                                        Borrar
                                    </a>
                                </td>
                            
                        </tr>
                </table>
                        <!-- edit product button -->
                        <a (click)="insertCategory()" class="btn btn-info text-white">
                                Editar
                        </a>
            </div>
        </div>
</div>
</div>
<hr>
<div class="row">
        <div class="col-sm-4">
<h1>Listado</h1>
              </div>

        <div class="col-sm-4">
                <div class="alert alert-success alert-dismissable" *ngIf="msg">
                  <a href="#" class="close" (click)="closeAlert()">
                    &times;
                  </a>
                  {{msg}}
                </div>
              </div>
</div>


<hr>
<div class="row">
<div class="col-8">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <!-- HTML table for displaying a product details -->
                <table class="table table-hover table-bordered">
                        <tr>
                                <th>Nombre</th>
                                <th>Activo</th>
                                <th>Actions</th>
                        </tr>
                        <tr *ngFor="let categoria of categories">
                                <td>{{categoria.categoria}}</td>
                                <td>{{categoria.activo}}</td>
                                <td class="text-center">
                    
                                    <!-- edit product button -->
                                    <a (click)="editCategory(categoria.id_categoria, categoria.categoria)" class="btn btn-info text-white">
                                        Editar
                                    </a>
                    
                                    <!-- delete product button -->
                                    <a (click)="deleteCategory(categoria.id_categoria)" class="btn btn-danger text-white }">
                                        Borrar
                                    </a>
                                </td>
                            
                        </tr>
                </table>
            </div>
        </div>
</div>

        <div class="col-4"  [hidden]="hideUpdate">
                <h3>Editar</h3>
                <hr>                         
                <form [formGroup]="update_category_form" (ngSubmit)="updateCategory()">
                    <div class="row">
                        <div class="col-3">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="col-9">
                                <input formControlName="categoria"
                                type='text' name='categoria' [(ngModel)]="CategoriaNombre"
                                class='form-control' required />
                    <!-- show this error if the field is 'touched' and 'empty' -->
                    <div
                        *ngIf="update_category_form.get('categoria').touched && update_category_form.get('categoria').hasError('required')"
                        class="alert alert-danger">
                        Name is required.
                    </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-right">
                            <button class="btn btn-primary" type="submit" [disabled]="update_category_form.invalid">
                            Actualizar
                            </button>
                    </div>
                </form>
            </div>
        </div>